{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Register</h1>
					{% if error == True %}
						<p class="text-danger">
							Invalid User Credentials, please check your username and password.
						</p>
					{% endif %}
				
				<form action="{% url 'todolist:register' %}" method="post">
					{% csrf_token %}
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">Username</label>
				    	<input type="text" class="form-control" id="username" name="username" value="{{ username }}" max-length="20" required>
				  	</div>
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">First Name</label>
				    	<input type="text" class="form-control" id="firstname" name="firstname" value="{{ firstname }}" max-length="20" required>
				  	</div>
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">last Name</label>
				    	<input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}" max-length="20" required>
				  	</div>
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">Email</label>
				    	<input type="email" class="form-control" id="email" name="email" value="{{ email }}" max-length="20" required>
				  	</div>
				  	<div class="mb-3">
				    	<label for="exampleInputPassword1" class="form-label">Password</label>
				    	<input type="password" class="form-control" id="password" name="password" value="{{ password }}" max-length="20" required>
				  	</div>
				  	<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>
		</div>		
	</div>


{% endblock %}




